.alert {
    margin-bottom: -1rem;
}

.text-red {
    color: #420F05;
}

.intro-img {
    margin-bottom: -6rem;
}

.breadcrumb-item a {
    text-decoration: none;
}

.about-img {
    border-radius: 50%;
}

.bg-yellow,
.btn-yellow {
    background-color: #f8ca3e;
}

.bg-brown,
.btn-brown {
    background-color: #5f0a00;
}

.bg-reddish {
    background-color: #df6b54;
}

.btn-brown:hover {
    background-color: #360500;
    color: white;
}

.btn-outline-brown {
    border-color: #bd2c0e;
    color: #bd2c0e;
}

.btn-outline-brown:hover {
    background-color: #bd2c0e;
    color: white;
}

.product-margin,
.form-margin {
    margin-top: 7rem;
}

.fs-custom {
    font-size: 1.35rem;
}

.title-height {
    min-height: 57px;
}

.img-responsive {
    width: auto;
    height: 200px;
}

.form-height {
    height: 140px;
}

.contact-link {
    display: grid;
    list-style: none;
}

.contact-link a {
    color: black;
    padding: 1rem;
}

.contact-link a:hover {
    color: var(--clr-pastel-pink);
    transform: translateY(-0.5rem)
}

.contact-details {
    padding: 0 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

footer {
    margin-bottom: 0;
}